@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
:root {
  --Desaturated-Red: #ce9797;
  --Soft-Red: #f96262;
  --Dark-Grayish-Red: #413a3a;
  --font: "Josefin Sans", sans-serif;
}
body {
  font-family: var(--font);
}
.contenedor {
  padding: 30px;
}
.logo {
  width: 130px;
  vertical-align: middle;
}
.container .texto {
  text-align: center;
  color: var(--Desaturated-Red);
}
.container .img {
  max-width: 100%;
  vertical-align: middle;
}

.hero  h1 span {
  color: var(--Desaturated-Red);
  font-weight: 300;
  display: block;
}
.hero h1 {
  color: var(--Dark-Grayish-Red);
  letter-spacing: 8px;
}
.container .texto p {
  line-height: 20px;
  font-size: 14px;
}
.formulario {
  position: relative;
  margin-top: 30px;
}
.formulario [type="email"] {
  border: 1px solid var(--Desaturated-Red);
  border-radius: 100px;
  width: calc(100% - 40px);
  padding: 10px 20px;
  outline: none;
}
.formulario [type="email"]::placeholder {
  font-size: 13px;
  color: var(--Desaturated-Red);
}
.btn {
  position: absolute;
  right: -1px;
  top: 0px;
  border-radius: 100px;
  border: 0;
  padding: 12px 27px;
  display: inline-flex;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgba(248, 191, 191, 1) 10%,
    rgba(238, 140, 140, 1) 100%
  );
  box-shadow: 5px 15px 40px var(--Desaturated-Red);
  font-size: 13px;
  font-weight: 300;
}
.btn img {
  width: 10px;
}
.icon-error {
  position: absolute;
  top: 10px;
  right: 80px;
  width: 20px;
  display: none;
}
.mensaje-incorrecto {
  color: var(--Soft-Red);
  display: none;
  text-align: left;
  margin-left: 20px;
  margin-top: 7px;
}
.img-desktop {
  display: none;
}
.img-mobile {
  width: 100%;
}
.campo__incorrecto .mensaje-incorrecto {
  display: block;
}
.campo__incorrecto .icon-error {
  display: block;
}
.campo__incorrecto [type="email"] {
  border: 1px solid var(--Soft-Red);
}

@media screen and (min-width: 400px) {
  body {
    display: flex;
    justify-content: center;
  }
  .container {
    width: 400px;
  }
  .img-mobile {
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
  }
  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: block;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 150px auto;
    grid-template-rows: 1fr;
    align-items: center;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
  }
  .container .img {
    grid-column: 3;
  }
  main {
    grid-row: 1;
  }
  .container .contenedor:first-child{
    position: absolute;
    top: 0;
    left: 0px;
  }
  .container .contenedor:last-child {
    position: relative;
  }
  .contenedor {
    padding: 50px 130px;
  }
  .container .texto {
    text-align: left;
    grid-row: 1;
  }
  .container .texto h1 {
    font-size: 3.5em;
    letter-spacing: 10px;
  }
  .container .texto p {
    font-size: 15px;
  }
  .btn {
    cursor: pointer;
    padding: 14px 35px;
  }
  .btn img {
    width: 10px;
  }
  .icon-error {
    right: 90px;
    width: 20px;
  }
  .btn:hover {
    background: linear-gradient(
      135deg,
      rgb(243, 210, 210) 10%,
      rgb(236, 166, 166) 100%
    );
  }
}
